/*

    ----RESET----
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  /* main content styles */
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
  }

  img {
    height: 100px;
    display: inline-block;
  }

  /* Background  */
 #left {
    background-color: pink;
    width: 50vw;
    height: 100vh;
 }

 #card {
    width: 70%;
    padding: 40px;
    position: absolute;
    border-radius: 5%;
    top: 100px;
    left: 15%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
 }

 /* definitions */
dl {
    font-family: 'Hind', sans-serif;
 }

 dt {
    font-size: 1.1em;
    font-weight: 700;
 }

 dd {
    font-weight: 400;
    line-height: 1.5;
    font-size: 1em;
 }

 code {
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(173, 216, 230, 0.3);
 }

 footer {
    position: absolute;
    bottom: 20;
 }

 footer p {
    font-size: .7em;
    color: black;
 }

